In [1]:
from collections import namedtuple
import re
import sys

import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("C:/Users/sorin/Documents/GitHub/gopatterns/leelazero_lz_training_10x10_min1_max6_upto_20180423_fullrun_skip_num_games0_max_num_versions1000_max_games_per_version1000.csv")

In [3]:
df.shape

(3580935, 2)

In [4]:
df.head()

                                             pattern   version
0  . . . . . . . . . . =\r\n. . . . . . . . . . =...  d645af97
1  . . . . . . . . . . =\r\n. . . . . . . . . . =...  d645af97
2  . . . . . . . . . . =\r\n. . . . . . . . . . =...  d645af97
3  . . . . . . . . . . =\r\n. . . . . . . . . . =...  d645af97
4  . . . . . . . . . . =\r\n. . . . . . . . . . =...  d645af97

In [5]:
df['version'].value_counts()

808ac5f3    30972
3ba92804    30807
eebb910d    30731
1607dbea    30456
d11131e3    30427
ce1aa643    30296
4e4d09be    30267
4701bb9f    30249
e671af6f    30221
a0d3531f    30118
fe7a6c28    30114
fe3f6afd    30026
251b7ca8    29811
857b975e    29771
5bcb392e    29765
e6779c9b    29759
4d9a5cfc    29705
6f274ab1    29647
96bf20e7    29535
273a029d    29480
657f91c7    29448
22373747    29406
92c658d7    29367
2184b750    29279
ad8a1d02    29232
154eaebd    29217
7ba9d22c    28937
3382a7d3    28881
1ac2638d    28864
8f0031dd    28800
            ...
e9c2c70b    26377
3f6c8dd8    26373
02e663b0    26366
8c67ecdc    26362
58da6176    26358
0c094151    26253
85c6f2ad    26227
c99f1ae0    26208
8ed44722    26203
c4611a60    26154
097deeb9    26126
b02f6fac    26110
0f6a8c5f    26057
39fe0ce3    26057
55bf55dc    25539
509e5202    25468
76347a12    25415
65e94e52    25148
7fcf3c16    25045
391d850e    25005
83015869    24939
ffc1e51b    24871
1e2b85cf    24787
e5e72b39    24576
ded4b48e    19884
0d7766a4      872
d645af97      470
leelaz-m       89
25e452e3       49
/1ccb734       26
Name: version, Length: 135, dtype: int64